<a href="https://colab.research.google.com/github/entresing/Week1-Introduction_to_Python/blob/w1_assignment_branch/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON INTRODUCTION

#                                                      Table Of Content
1.introdution

     1.1 What is Python
     
2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets
   
3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()
   
8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series
   
11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.
#### Important features of Python:
 -  Built-in high level data types: strings, lists, dictionaries, etc.
 -  The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
 -  Multiple levels of organizational structure: functions, classes, modules, and  packages. These assist in organizing code. An excellent and large example is the Python standard library.
 - Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
 - Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
 - Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

### New example:

In these examples, number, name, fruits, and person are variables. Each variable is storing different types of data: an integer, a string, a list, and a dictionary respectively.

In [2]:
# Integer variable
number = 10

# String variable
name = "Alice"

# List variable
fruits = ["apple", "banana", "cherry"]

# Dictionary variable
person = {"name": "Alice", "age": 25}

#print all values
print(number)
print(name)
print(fruits)
print(person)

10
Alice
['apple', 'banana', 'cherry']
{'name': 'Alice', 'age': 25}

 - Python variables do not need explicit declaration to reserve memory space.
 - The declaration happens automatically when you assign a value to a variable.
 - The equal sign = is used to assign values to variables.
  
  Some examples are given as follows:

In [ ]:
area = 200.30  #float type variable
Distance = 100 #integer type variabe
name = 'Sara' #string type variable

#print all values
print (area)
print(Distance)
print(name)

200.3
100
Sara

## 2.2 Numbers

 - This data type store numeric values
 - Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

  Some examples are given as follows:

### New example:
Booleans (bool): Technically a subtype of integers. True and False are often represented by 1 and 0 respectively.

In [3]:
# Integer
x = 10

# Float
y = 3.14

# Complex number
z = 2 + 3j

# Boolean
a = True
b = False

# Arithmetic operations
sum = x + y  # Adding an integer and a float
difference = x - 5  # Subtracting from an integer
product = y * 2  # Multiplying a float
quotient = x / 2  # Dividing an integer

# Boolean operations
and_operation = a and b
or_operation = a or b
not_operation = not a


print("Integer:", x)
print("Float:", y)
print("Complex number:", z)
print("Boolean:", a)
print("Boolean:", b)

Integer: 10
Float: 3.14
Complex number: (2+3j)
Boolean: True
Boolean: False

In [ ]:
5 #integer

5

In [ ]:
10+10 #integer

20

In [ ]:
5.5+5.5 #float

11.0

In [ ]:
5**2 #exponent

25

## 2.3 Strings

### New example:
  String Methods: Python provides a rich set of methods to perform operations on strings, such as upper(), lower(), strip(), split(), join(), replace(), and many more

In [10]:
s = "hello world"
upper_s = s.upper()       # 'HELLO WORLD'
split_s = s.split()       # ['hello', 'world']
replaced_s = s.replace("world", "Python")  # 'hello Python'

s = "Hello"
first_character = s[0]  # 'H'
substring = s[1:4]      # 'ell'

name = "Dennis"
age = 21
greeting = f"My name is {name} and I am {age} years old."

greeting2 = "Hello" + " " + "World"  # 'Hello World'
echo = "Echo" * 3                   # 'EchoEchoEcho'


print(upper_s)
print(split_s)
print(replaced_s)
print(first_character)
print(substring)
print(greeting)
print(greeting2)
print(echo)

HELLO WORLD
['hello', 'world']
hello Python
H
ell
My name is Dennis and I am 21 years old.
Hello World
EchoEchoEcho

 - Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
 - Python allows either pair of single or double quotes.
 - Strings are immutable.
 - Python doesn't support Char data type.It will beas string of length one in python.

In [ ]:
Course="Artificial Intelligence"
name='Sara'
print(name, Course)

Sara Artificial Intelligence

### Access values in strings

 - we can access a specific character or range of characters from strings.
 - Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

 Some examples are listed below:

In [ ]:
stringVariable = 'Hello World'

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])

stringVariable[0]: H
stringVariable[1:5]: ello

### Updating string

 - Value of string can be changed or updated by assigning a new value to it.
 - New value must have same data type as previous value.
 - For this purpose '+' operator is used as follows:

In [ ]:
stringVariable ="Hello World "
stringVariable = stringVariable[:6]+"Python"


print ("updated string:",stringVariable)

updated string: Hello Python

### Delete string

 - we can delete the value of string by just deleteing its object.
 - 'del' keyword is used for this purpose

  It would be cleared by using following example:

In [ ]:
stringVariable ="Hello World "
print (stringVariable)
del stringVariable
print (stringVariable)

Hello World

NameError: ignored

### String special operators

 - some special operators are used in Python to perform different opertions.
   These are given below:

#### String Concatenation

 - To concatenate the strings we used '+' operator.

    Following are the examples of concatenation:

In [ ]:
stringvalue1="machine"
stringvalue2="learning"
print(stringvalue1+stringvalue2)

machinelearning

#### Repitition

 - '*' symbol is used for repitition.

In [ ]:
stringvalue="Assignment"
print(stringvalue*2)

AssignmentAssignment

#### Use of [] symbol

 - '[]'symbol give the character of string at given index.

In [ ]:
Stringvalue="Machine Learning"
print(Stringvalue[1])

#### Use of [:] symbol

 - [:] is used to get substring from string.

In [ ]:
stringvalue="Hello"
print(stringvalue [1:3])

el

#### use of 'in'

 - 'in' is used to check the existance of character in string.
 - It returns TRUE if given character exist in string,otherwise FALSE.

In [ ]:
Stringvalue="Hello"
print('H' in Stringvalue)

True

#### Use of "not in"

 - 'not in' returns true if given character is not in string,otherwise false.

In [ ]:
Stringvalue="Hello"
print('G' not in Stringvalue)

True

### String formatting operator

 - Python uses C-style string formatting to create new, formatted strings.
 - The "%" operator is used to format in print statement.

See following examples:

In [ ]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))

My name is Sara and weight is 21 kg!

## 2.4 Lists

 - Multiple types of data can be stored in a list.
 - A list contains items separated by commas and enclosed within square brackets [].
 - Individual elements of a list can be changed
 - list indices start with 0 just like arrays.

### New example:

In [23]:
list_new = ['danan', 21001, 'fina']
print(list_new)
############# List Slicing:
colors = ["red", "green", "blue", "yellow", "white"]
primary_colors = colors[0:3]  # ['red', 'green', 'blue']
print(primary_colors)

#List of Tuples:
list_of_tuples = [(1, 'apple'), (2, 'banana'), (3, 'cherry')]
list_of_tuples[0]  # (1, 'apple')
list_of_tuples[0][1]  # 'apple'

print(list_of_tuples[1][1])
print(list_of_tuples[2][1])

['danan', 21001, 'fina']
['red', 'green', 'blue']
banana
cherry

In [ ]:
list1 = [ 'Mary', 2000 ]

print (list1) # Prints complete list

['Mary', 2000]

### Accessing values in list

 - Square brackets are used to access the values of a list
 - We can access specific values or range of values from a list

In [ ]:
list1 = [ 'Physics' , 'Chemistry' , 1857, 3290]
list2 = [1,2,3,4,5,6,7]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  Physics
list2[1:5]:  [2, 3, 4, 5]

### Updating list

 - Value of string can be changed or updated by assigning a new value to it.
 - we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
 - we can also update list by using append() function.

In [ ]:
list1=["dell","Hp","Apple"]
list1[1]="samsung"
print(list1)

list1.append('acer')
print(list1)

['dell', 'samsung', 'Apple']
['dell', 'samsung', 'Apple', 'acer']

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list
del list1[1]
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

In [ ]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list

list1.remove('Hp')
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']

## 2.5 Dictionaries

 - Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
 - Each key is seperated by colon(:) from its value.
 - Each item is seperated with comma(,).
 - A pair of braces creates an empty dictionary: {}.
 - Python's dictionaries are kind of hash-table type.
 - A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any       arbitrary Python object.
 - Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
 - Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

### New example:

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1['Name'])

Sara

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)
dict1['Batch']="S23"
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function  is used to remove complete dictionary.

 Some examples are as follows:

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)

del dict1['Batch']
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}

In [ ]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
dict1.clear()
print(dict1)

{}

## 2.6 Tuples

 - A tuple is another sequence data type that is similar to the list.
 - A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
 - The main difference between lists and tuples are − Lists are enclosed in brackets ( [ ] ) and their elements and size can be  changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.   
 - It can also have multiple data type values.

  For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [ ]:
tuple1 = ( 'simon','sara' , '20', 'saira40')

print (tuple1)
print(tuple1[1:3])

('simon', 'sara', '20', 'saira40')
('sara', '20')

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

 Some examples are as follows:

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
del(tuple1)
print(tuple1)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)

NameError: ignored

# 2.7 Sets

### New example:

In [29]:
# Creating a set of unique numbers
number_set = {1, 2, 3, 4, 5}

# Sets automatically remove duplicates
duplicate_set = {1, 2, 2, 3, 4, 4, 5}  # This will be {1, 2, 3, 4, 5}

# Creating a set from a list (useful for removing duplicates from a list)
list_of_numbers = [1, 2, 2, 3, 3, 4, 5, 5]
unique_numbers = set(list_of_numbers)  # {1, 2, 3, 4, 5}

# Set operations: union, intersection, and differences. how we use 3d modelling software to union, intersect, and differences object.
another_set = {4, 5, 6, 7}
union_set = number_set.union(another_set)  # {1, 2, 3, 4, 5, 6, 7}
intersection_set = number_set.intersection(another_set)  # {4, 5}
difference_set = number_set.difference(another_set)  # {1, 2, 3}

print(number_set)
print(duplicate_set)
print(unique_numbers)
print(union_set)
print(intersection_set)
print(difference_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{1, 2, 3}

 - A set is an unordered collection in which each value occurs at most once.
 - You can use curly braces to give an expression whose value is a set.
 - Python prints sets using curly braces.
 - Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
 - Sets can be used to perform mathematical operations like union,intersection,etc
 - Empty set will be written as {}.
 - We can also make a set from a list using set() function.
 - Data type can be found using type() function.
 - add() is used to add single value, update() is used for adding multiple values.
 - update() function can take tuple,string,list or other set as argument.
 - discard() and remove() are used to delete specific item from list.
 - discard() will not raise an error if item doesn't exist.
 - remove() will raise an error if item doesn't exist in set.
 - The cardinality of a set S is the number of elements in the set.
 - In Python, the cardinality of a set is obtained using the function len(·).

In [28]:
#list
list1=[1,2,3,4,5]

print(type(list1))

my_set=set(list1)

print(type(my_set))

#set of integers
my_set={1,2,3}
print(my_set)

#set of mixed data types
my_set={1, "Heq2llo"}
print(my_set)

#adding a single value
my_set.add("D")
print(my_set)

#adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error
my_set.remove('G') #it will raise an error

<class 'list'>
<class 'set'>
{1, 2, 3}
{1, 'Heq2llo'}
{1, 'Heq2llo', 'D'}
{1, 2, 3, 4, 5, 'D', 'Heq2llo'}

KeyError: 'G'

# 3.Comparison Operators

### New example:

In [37]:
print(5 == 5)
print(3 == 4)
print(3 == 3)
print('-------')
print(5 != 5)
print(3 != 4)
print(3 != 3)
print('-------')
print(5 >= 5)
print(5 >= 3)
print(2 >= 4)
print('-------')
print(5 <= 5)
print(5 <= 3)
print(2 <= 4)
print('-------')

a = True
b = False

print(a and b)  # False, because one of the operands (b) is False
print(a and True)  # True, because both operands are True
print(b and False)  # False, because at least one operand is False
print('-------')
print(a or b)  # True, because at least one operand is True
print(a or True)  # True, because at least one operand is True
print(b or False)  # False, because both operands are False

True
False
True
-------
False
True
False
-------
True
True
False
-------
True
False
True
-------
False
True
False
-------
True
True
False

 - Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
 - Python defines the following comparison operators:

### Less than operator  (<)

In [ ]:
10<17

True

### Less than equal to operator (<=)

In [ ]:
15<=10

### Equal to operatoe (==)

In [ ]:
16==16

True

In [ ]:
"Sara"=="sara"

False

In [ ]:
"ALI"=="ALI"

True

### Not equal to operator (!=)

In [ ]:
3!=5

True

### OR Operator

In [ ]:
(10==10)or(10<17)

### And operator

In [ ]:
(10==10)and (10<17)

# 4.If else statement

### New example:

In [44]:
import random

#if-elif-else and random number's example

print(random.randint(0,100))
score = random.randint(0, 100)
if score >= 90:
    print(str(score) + " : Grade: A")
elif score >= 80:
    print(str(score) + " : Grade: B")
elif score >= 70:
    print(str(score) + " : Grade: C")
else:
    print(str(score) + " : Grade: D")

70
63 : Grade: D

 - The if–else is used to make choices in Python code.
 - This is a compound statement.
 - The syntax is:
 - if c o n d i t i o n
          action −1
  else :
          action −2
 - The indentation is required

In [ ]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

 sunday is wonderful

In [ ]:
if 25 % 2:
  print("Even")
else:
  print("Odd")

Even

# 5.For and while loop

### New example:

In [52]:
# Using a while loop
counter = 1
while counter <= 5:
    print(counter)
    counter += 1

print('------------')
# Iterating over a list
for number in range(1,6):
    print(number)

print('------------')
fruits = ["apple", "banana", "cherry", "orange", "kiwi"]

for fruit in fruits:
    print(f"I like {fruit}.")

print('------------')
countdown = 5

while countdown > 0:
    print(countdown)
    countdown -= 1  # same as countdown = countdown - 1

print("Lift off!")

1
2
3
4
5
------------
1
2
3
4
5
------------
I like apple.
I like banana.
I like cherry.
I like orange.
I like kiwi.
------------
5
4
3
2
1
Lift off!

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

    for item in list :
      a c t i o n
- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [ ]:
for i in [2 , 4 , 6 , 0]:
    print(i)

2
4
6
0

In [ ]:
for counter in range(1, 6):
    print (counter)

1
2
3
4
5

In [ ]:
word = "sara"
for letter in word:
    print (letter)

s
a
r
a

### While loop

In [ ]:
a=0
while a < 10:
  a=a+1
  print(a)

1
2
3
4
5
6
7
8
9
10

# 6.Functions

### New example:

In [53]:
# Function to add two numbers
def add_numbers(num1, num2):
    result = num1 + num2
    return result

# Using the function
number1 = 5
number2 = 3
print(f"The sum of {number1} and {number2} is {add_numbers(number1, number2)}")

The sum of 5 and 3 is 8

 - You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their  complexity, are better self-contained in a sub-program and called when needed.                                 
 - Function is a piece of code written to carry out a specified task.
 - There are three types of functions in Python:
 - Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
 - User-Defined Functions (UDFs), which are functions that users create to help them out.
 - Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
 - The syntax is:

   def functionname(parameters)
    
   "function_docstring"
   
   function_suite
   
   return [expression]

In [ ]:
def my_function(name):
  #This prints a passed string into this function
    print(name)
    return;

#Now you can call my_function
my_function("Mary")

Mary

# 7.Lambda Functions

### New example

In [70]:
# check if number is even
random_number = random.randint(0, 100)

# lambda function
is_even = lambda x: x % 2 == 0

print(random_number)
print(is_even(random_number))

98
True

 - The creation of anonymous functions at runtime,using a construct called "lambda"
 - A lambda function is a small anonymous function.
 - A lambda function can take any number of arguments, but can only have one expression.
 - Lambda function does not include return statement,it always contains an expression which is returned.
 - You might want to use lambdas when you don’t want to use a function twice in a program.

   some examples are given:

In [ ]:
#Normal Function
def f (x):
  return x**2
print (f(8))

64

In [ ]:
times3 = lambda var:var*3
times3(10)

#lamba expressions : another way to write a function in line

30

In [55]:
add = lambda x, y: x + y

print(add(3, 5))
print(add(2, 5))

8
7

## 7.1 Map()

### New example:

In [73]:
numbers = [1, 2, 3, 4, 5]

# Function to square a number
def square(number):
    return number ** 2

# Use map() to apply the square function to each item of the numbers list
squared_numbers = map(square, numbers)

# Convert the map object to a list and print it
squared_numbers_list = list(squared_numbers)
print(squared_numbers_list)

[1, 4, 9, 16, 25]

 - Map() function is used with two arguments.Just like: r=map(func,seq)
 - The first argument func is function name and the second is a sequence(list etc)
 - Map functions expects a function object and any number of iterables like list, dictionary, etc.
 - It executes the function_object for each element in the sequence and returns a list of the elements modified by the function  object.

   Example:

In [ ]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)

list (lengths)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

[2, 2, 7, 4, 3, 4]

## 7.2 Filter()

### New example:

In [74]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Function to check if a number is even
def is_even(number):
    return number % 2 == 0

# Use filter() to apply the is_even function to each item of the numbers list
even_numbers = filter(is_even, numbers)

# Convert the filter object to a list and print it
even_numbers_list = list(even_numbers)
print(even_numbers_list)

[2, 4, 6, 8, 10]

 - The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
 - The syntax of filter() method is:
      filter(function, iterable)
 - The filter() method takes two parameters:

      1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
      
      2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators
 - The filter() method returns an iterator that passed the function check for each element in the iterable.

In [ ]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, alphabets):
     print(i)

a
e
i
o

In [75]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

# 8.File I/O

 - In this section we will cover basic I/O functions.

## Reading input from keyboard

### New example:

[F-string references](https://realpython.com/python-f-strings/#:~:text=Also%20called%20formatted%20string%20literals,into%20a%20string%20interpolation%20tool.)

F-strings joined the party in Python 3.6 with PEP 498. Also called formatted string literals, f-strings are string literals that have an f before the opening quotation mark. They can include Python expressions enclosed in curly braces. Python will replace those expressions with their resulting values. So, this behavior turns f-strings into a string interpolation tool.

In [84]:
# raw_input works for python 2 and input works for python 3

# Ask the user for the length of the rectangle
length = float(input("Enter the length of the rectangle: "))

# Ask the user for the width of the rectangle
width = float(input("Enter the width of the rectangle: "))

# Calculate the area
area = length * width

# Display the result via f-string
print(f"The area of the rectangle is: {area}")

Enter the length of the rectangle: 12
Enter the width of the rectangle: 42
The area of the rectangle is: 504.0

 -  There are two functions in Python that you can use to read data from the user:raw_input and input
 -  You can store the results from them into a variable
 -  If the input function is called, the program flow will be stopped until the user has given an input and has ended the input  with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

 Let's have a look at the following example:

In [81]:
name = raw_input("What's your name? ")
print("Nice to meet you " + name + "!")

NameError: name 'raw_input' is not defined

In [80]:
name = input("What's your name? ")
print("Nice to meet you " + name + "!")

What's your name? dennis
Nice to meet you dennis!

In [ ]:
age = raw_input("What's your age? ")
print("your age is " + age + "!")

In [ ]:
string=raw_input("enter your university....")
print(string)

## I/O From or to text file

 - In this scenario, we will read and write to a text file.
 - we can open files in different modes.

## Read only mode

### New example:
I learned how to mount google drive and applied striprtf library to read rtf file.

[Striprtf reference](https://snyk.io/advisor/python/striprtf/functions/striprtf.striprtf.rtf_to_text)

In [97]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [98]:
!pip install striprtf

from striprtf.striprtf import rtf_to_text

with open("/content/drive/MyDrive/IAT481/Week_1/dennisTxt.rtf", "r") as file:
    rtf_content = file.read()
    text = rtf_to_text(rtf_content)

# Now 'text' contains the plain text from the RTF file
print(text)

Requirement already satisfied: striprtf in /usr/local/lib/python3.10/dist-packages (0.0.26)
Dennis is fat, and I am Dennis.

 - r opens a file in read only mode.
 - The file pointer is placed at the beginning of the file.
 - This is the default mode.

In [99]:

file = open("hello.txt", "r")
str=file.read();
print(str)
file.close()

{\rtf1\ansi\ansicpg1252\cocoartf2708
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 Dennis is fat, and I am Dennis.}

## Read and write mode

 - r+ opens a file in read and write mode.
 - The file pointer placed at the beginning of the file

In [101]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10);
print ("Read String is : ", str)
# Close opend

Read String is :  {\rtf1\ans

## Write mode only

 - w opens a file in write mode only.
 - Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [102]:
file = open('write.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

This is the write commandIt allows us to write in a particular file

## Append mode

 - a opens a file in append mode.
 - The file pointer is at the end of the file if the file exists.
 - That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [103]:
file = open('write.txt','a')
file.write("This will add this line")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

This is the write commandIt allows us to write in a particular fileThis will add this line

## Append and read mode

 - a+ opens a file in append and read mode.
 - The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist,    it creates a  new file for reading and writing.

In [104]:
file = open('hello.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

{\rtf1\ansi\ansicpg1252\cocoartf2708
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 Dennis is fat, and I am Dennis.}MSCS From comsats university

## File Position

 - tells() method tells the current position within the file.
 - seek() method changes the current file method.
 - Following is the syntax for seek() method:    fileObject.seek(offset[, whence])

In [105]:
f = open('hello.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

read string is : {\rtf1\ansi\ansicpg1
current file position is : 20
again read string is : 1\ansi\ans

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data — load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

-  Fast and efficient DataFrame object with default and customized indexing.
-  Tools for loading data into in-memory data objects from different file formats.
-  Data alignment and integrated handling of missing data.
-  Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:
- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

### New example:

In [117]:
import pandas as pd

# Creating a Series from a list
data = [1, 2, 3, 4, 5]
pds = pd.Series(data)
pds

0    1
1    2
2    3
3    4
4    5
dtype: int64

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using ‘series’ method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [106]:
import pandas as pd
s = pd.Series([1, 'Lahore', 2, 3, 'Happy Eating!'])
s

0                1
1           Lahore
2                2
3                3
4    Happy Eating!
dtype: object

## 10.1 Series creation from ndarray

### New example:

In [113]:
import numpy as np

# Create a NumPy array
np_arr = np.array([10, 20, 30, 40, 50])

print(np_arr)
print("array after adding 10:", np_arr + 10)
# Convert the NumPy array to a Pandas Series
series = pd.Series(np_arr)

# Display the Series
print(series)

print("series after adding 10:", series + 10)

[10 20 30 40 50]
array after adding 10: [20 30 40 50 60]
0    10
1    20
2    30
3    40
4    50
dtype: int64
series after adding 10: 0    20
1    30
2    40
3    50
4    60
dtype: int64

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [ ]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64

In [ ]:
import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

a    0.559357
b    0.362491
c   -0.989478
d    0.288712
e    0.463699
dtype: float64
--------------------------------------------------
Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

## 10.2 Series creation from dict

### New example:

In [118]:
# Create a dictionary with mixed data types
data_dict = {'Name': 'Dennis', 'Age': 21, 'Height': 5.10, 'IsStudent': True}

# Convert the dictionary to a Pandas Series
pd.Series(data_dict)

Name         Dennis
Age              21
Height          5.1
IsStudent      True
dtype: object

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [ ]:
d = {'a': 100., 'b': 200., 'c': 300.}
pd.Series(d)

a    100.0
b    200.0
c    300.0
dtype: float64

In [ ]:
data = {'abc': 1, 'def': 2, 'xyz': 3}
pd.Series(data)

abc    1
def    2
xyz    3
dtype: int64

## 10.3 Series creation from a scalar value

### New example:

In [123]:
pd.Series(random_number,index = ['a','b','c'])

a    98
b    98
c    98
dtype: int64

- Index must be provided. The value will be repeated to match the length of the index

In [ ]:
pd.Series(5, index = ['a', 'b', 'c'])

a    5
b    5
c    5
dtype: int64

In [ ]:
 x = pd.Series(3, index=['a', 'b', 'c', 'd'])
x

a    3
b    3
c    3
d    3
dtype: int64

## 10.4 Series is ndarray-like

### New example:

In [129]:
series = pd.Series([1, 2, 3, 4, 5])

# Indexing like an ndarray
print('-------')
print("Element at index 2:", series[2])

# Slicing like an ndarray
print('-------')
print("Sliced Series:\n", series[1:4])

# Vectorized operations like an ndarray
print('-------')
print("Series + 10:\n", series + 10)

-------
Element at index 2: 3
-------
Sliced Series:
 1    2
2    3
3    4
dtype: int64
-------
Series + 10:
 0    11
1    12
2    13
3    14
4    15
dtype: int64

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    0.045078
b    0.391752
c   -0.065646
d   -0.468091
e    0.070352
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s.iloc([2,1,4]))

TypeError: unhashable type: 'list'

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[:3])

a   -0.227998
b    0.738016
c    1.740076
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[[3,2,1]])

d    0.659163
c    0.038482
b    0.071420
dtype: float64

In [139]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
np.exp(s)

a    3.653596
b    0.644089
c    0.289025
d    3.068888
e    0.824919
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']

-0.04321504853792073

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']=12.
s

a    -1.089450
b    12.000000
c    -0.415381
d    -1.272492
e    -0.096899
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'e' in s

True

In [ ]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
'f' in s

False

## 10.5 Series is dict-like

### New example:

In [141]:
sd = pd.Series(['a', 'b', 'c', 'd'])
sd.to_dict()

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

- A Series is like a xed-size dict in that you can get and set values by index label

In [ ]:
s = pd.Series([1, 2, 3, 4])
s.to_dict()

{0L: 1L, 1L: 2L, 2L: 3L, 3L: 4L}

## 10.6 Vectorized operations and label alignment with Series

### New example:

In [153]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([10, 20, 30, 40, 50])

# Add two Series together
sum_series = series1 + series2
print("Sum of series1 and series2:\n", sum_series)

series3 = pd.Series(['dadd', 'emma', 'dennis', 'deng'])
[s3.capitalize() for s3 in series3]

Sum of series1 and series2:
 0    11
1    22
2    33
3    44
4    55
dtype: int64

['Dadd', 'Emma', 'Dennis', 'Deng']

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [142]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [143]:
data = ['saima', 'aisha', 'faiza', 'saira']
[s.capitalize() for s in data]

['Saima', 'Aisha', 'Faiza', 'Saira']

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
  
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [ ]:
dates = pd.date_range('20130101',periods=6)
dates

## 11.1 Dataframe creation from dict of series or dicts

### New example

In [171]:
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6, 7], index=['a', 'b', 'c', 'd'])

# Create DataFrame from a dictionary of Series
df = pd.DataFrame({'column1': series1, 'column2': series2})

df

   column1  column2
a      1.0        4
b      2.0        5
c      3.0        6
d      NaN        7

 - The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
 - If no columns are passed, the columns will be the sorted list of dict keys.

In [170]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3

In [ ]:
 d = {'col1': [1, 2], 'col2': [3, 4]}
 df = pd.DataFrame(data=d)
 df

   col1  col2
0     1     3
1     2     4

## 11.2  Dataframe creation from dict of ndarrays/lists

In [169]:
# Create a dictionary of lists
d = {
    'Column1': [1, 2, 3, 4],
    'Column2': ['a', 'b', 'c', 'd'],
    'Column3': [0.1, 0.2, 0.3, 0.4]
}

# Create DataFrame
df = pd.DataFrame(d)
df

print('------------')
print('Score')
df2 = pd.DataFrame(np.random.randint(low=0, high=100, size=(5, 5)), columns=['Dennis', 'Emma', 'John', 'Tina', 'David'])
df2

------------
Score

   Dennis  Emma  John  Tina  David
0      40    74    91    28     85
1      29    74    65    51     73
2      61    19    19    89     96
3      80    17     5    56     54
4      79    45    86    67     92

 - The ndarrays must all be the same length.
 - If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [ ]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [ ]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])
df2

   a  b  c  d  e
0  4  7  6  3  1
1  7  1  7  7  4
2  1  0  3  8  0
3  3  0  9  5  1
4  0  3  2  3  9

## 11.3 Dataframe creation from a list of dicts

### New example
I've decided to track the reading progress of the members over the course of a month. Each member reports the number of pages they've read each week along with their favorite quote from that week's reading. However, not every member reads every week, and some weeks they might not have a favorite quote.

In [168]:
# Weekly reading reports from book club members
reports = [
    {'Name': 'Alice', 'Pages Read': 100, 'Favorite Quote': "To be or not to be"},
    {'Name': 'Bob', 'Pages Read': 150},
    {'Name': 'Alice', 'Pages Read': 0, 'Favorite Quote': None},
    {'Name': 'Bob', 'Pages Read': 200, 'Favorite Quote': "All that glitters is not gold"}
]

# Create a DataFrame
df = pd.DataFrame(reports)

df

    Name  Pages Read                 Favorite Quote
0  Alice         100             To be or not to be
1    Bob         150                            NaN
2  Alice           0                           None
3    Bob         200  All that glitters is not gold

In [ ]:
data = [{'a':10,"b":20},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [ ]:
data = [{'a':10,"b":20,"c":30},{'a':5,'b':10,'c':20}]
pd.DataFrame(data)

    a   b   c
0  10  20  30
1   5  10  20

## 11.4 Dataframe creation from a dict of tuples

### New example
Tracking Sales Data in a Store

In [167]:
# Sales data: keys are (Department, Month), values are sales figures
sales_data = {
    ('Electronics', 'January'): [1200, 1500, 1000],
    ('Electronics', 'February'): [1000, 1200, 900],
    ('Electronics', 'March'): [1100, 1300, 950],
    ('Clothing', 'January'): [800, 950, 600],
    ('Clothing', 'February'): [900, 1000, 650],
    ('Clothing', 'March'): [950, 1050, 700]
}

# Create a DataFrame with a MultiIndex
df = pd.DataFrame(sales_data)

df

  Electronics                Clothing
      January February March  January February March
0        1200     1000  1100      800      900   950
1        1500     1200  1300      950     1000  1050
2        1000      900   950      600      650   700

 - You can automatically create a multi indexed by passing a tuple dictionary.

In [ ]:

df = pd.DataFrame({'Initial': ['C','A','M'], 'Sex': ['M', 'F', 'F'], 'Age': [49, 39, 19]})
#df = df[['Initial', 'Sex', 'Age']]
df

   Age Initial Sex
0   49       C   M
1   39       A   F
2   19       M   F

In [ ]:
data = [('p1', 't1', 1, 2),('p1', 't2', 3, 4),('p2', 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]

df = pd.DataFrame(data)
df

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8

## 11.5 Alternate constructors

### New example
Tracking Inventory in Different Warehouses

In [174]:
#Dataframe.from_dict

# Inventory data: keys are Warehouse names, values are items and their quantities
inventory_data = {
    "Warehouse1": {'Apples': 30, 'Bananas': 50, 'Oranges': 20},
    "Warehouse2": {'Pineapples': 15, 'Grapes': 35},
    "Warehouse3": {'Mangoes': 45, 'Papayas': 25, 'Bananas': 30}
}

# Create a DataFrame from the dictionary
df = pd.DataFrame.from_dict(inventory_data, orient="index").fillna(0).astype(int)

df

            Apples  Bananas  Oranges  Pineapples  Grapes  Mangoes  Papayas
Warehouse1      30       50       20           0       0        0        0
Warehouse3       0       30        0           0       0       45       25
Warehouse2       0        0        0          15      35        0        0

Monthly Sales Data of Companies

In [175]:
#Dataframe.from_records
# Monthly Sales Data of Companies
# Sales data in tuples
sales = [
    ('Jones LLC', 150, 200, 50),
    ('Alpha Co', 200, 210, 90),
    ('Blue Inc', 140, 215, 95)
]

# Column labels
labels = ['account', 'Jan', 'Feb', 'Mar']

# Create DataFrame from the records
df = pd.DataFrame.from_records(sales, columns=labels)

df

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95

### Dataframe.from_dict

 - Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
 - It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [ ]:
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

   e  d  f  a  c  b  i  h  g
X  0  0  0  1  3  2  0  0  0
Y  5  4  6  0  0  0  0  0  0
Z  0  0  0  0  0  0  9  8  7

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [ ]:
sales = [('Jones LLC', 150, 200, 50),
     ('Alpha Co', 200, 210, 90),
     ('Blue Inc', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
df

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [ ]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])]

SyntaxError: invalid syntax (<ipython-input-30-4c478132b779>, line 2)

In [ ]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])
df

D:\python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """Entry point for launching an IPython kernel.

   A  B
0  1  4
1  2  5
2  3  6

## 11.6 Column selection,addition,deletion

### New example

In [179]:
# Monthly Sales Data of Companies
# Sales data in tuples
sales = [
    ('Jones LLC', 150, 200, 50),
    ('Alpha Co', 200, 210, 90),
    ('Blue Inc', 140, 215, 95)
]

# Column labels
labels = ['account', 'Jan', 'Feb', 'Mar']

# Create DataFrame from the records
df = pd.DataFrame.from_records(sales, columns=labels)
del df['Mar']   # delete column Mar
df['May']=[140, 215, 95]
df

     account  Jan  Feb  May
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc  140  215   95

 - You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a']) # you can adress column by index
df

   a  a
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])
df.columns = ['a','b']  # rename column
df

   a  b
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
del df['b']   # delete column
df

   a
0  1
1  3
2  5

In [ ]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
df['c']='2'   #add new column c and fill with 2
df

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2

### 11.7 Indexing / seletion

### New example:
Playing around with loc, iloc, and ix with their parameters

In [187]:
df = pd.DataFrame(np.random.randn(8, 5),
index = ['a','b','c','d','e','f','g','h'], columns = ['Amy', 'Ben', 'Charil', 'Dennis','Emma'])

print(df)
# Select all rows for multiple columns, say list[]
print (df.loc[:,['Amy','Charil']])
print (df.loc['a':'c'])

        Amy       Ben    Charil    Dennis      Emma
a  0.618924  1.183594 -0.411091 -0.590376 -0.090974
b -0.088301  0.025069  0.622239 -0.539179  1.297840
c -1.513121 -1.306831 -0.044263  1.230387  0.716281
d -0.274679 -1.110759 -0.094917 -0.182950 -0.098578
e -2.072260 -0.309206  0.505411  0.109821  0.881194
f  1.091051 -1.587640 -0.757636 -1.021165 -0.045410
g -0.981591  0.427667 -0.145267  1.717208  1.288705
h  1.196236  1.063570 -1.247729  0.225272  0.156514
        Amy    Charil
a  0.618924 -0.411091
b -0.088301  0.622239
c -1.513121 -0.044263
d -0.274679 -0.094917
e -2.072260  0.505411
f  1.091051 -0.757636
g -0.981591 -0.145267
h  1.196236 -1.247729
        Amy       Ben    Charil    Dennis      Emma
a  0.618924  1.183594 -0.411091 -0.590376 -0.090974
b -0.088301  0.025069  0.622239 -0.539179  1.297840
c -1.513121 -1.306831 -0.044263  1.230387  0.716281

In [198]:
df = pd.DataFrame(np.random.randn(18, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:12])
print (df.iloc[1:16, 2:3])

           A         B         C         D
0  -0.590798 -0.042030 -0.717495 -0.746723
1   1.182452  1.105289 -1.003565  0.493289
2   1.447072  0.427253  0.460458  0.714252
3  -0.178922 -0.596263  0.046821 -1.271827
4   1.091446 -1.311125 -0.110622  0.473160
5   0.106633 -0.917413 -0.003164  0.428629
6  -1.037777 -1.604318  0.128886  0.161283
7  -0.288993  0.081924 -2.451537  1.503725
8  -0.417770 -0.543726 -1.484531  0.437493
9  -1.011511 -1.869374  0.406706 -0.624803
10  0.148830 -1.886579  0.155389 -0.374330
11 -0.699855 -0.618466 -0.162901 -0.270513
           C
1  -1.003565
2   0.460458
3   0.046821
4  -0.110622
5  -0.003164
6   0.128886
7  -2.451537
8  -1.484531
9   0.406706
10  0.155389
11 -0.162901
12 -0.298001
13 -0.009321
14 -0.268058
15 -1.710900

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
    - .loc()  (label based)
    - .iloc()  (integer based)
    - .ix()    (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

a   -0.079142
b   -1.058681
c   -0.288618
d    1.305291
e   -0.142134
f   -1.700362
g    1.181158
h    1.580676
Name: A, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

In [180]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

          A         C
a -1.821749 -0.662906
b -0.540525 -0.781331
c -1.468540  0.099884
d  0.043081 -0.265245
e -0.420710  0.183078
f -1.512202  0.587034
g  0.979018 -1.196157
h -0.959702  0.227035

In [184]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'c'])

          A         B         C         D
a  0.602267  1.476622 -0.460616 -0.405250
b  0.581448 -0.098213  0.589543 -0.263261
c  0.536921 -0.116692 -0.530999  1.321559

#### .iloc()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

          A         B         C         D
0  0.885934  0.448261  0.584728  0.074509
1  0.670950  1.247670 -1.150118  0.769580
2  0.220727 -0.372701  0.232594  0.188892
3 -0.141555  0.356357  0.119643  0.125009

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:5, 2:4])

          C         D
1 -0.600980  2.148089
2  0.622637  0.357187
3 -0.038853 -0.265465
4  0.049228 -0.269615

#### .ix()

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.ix[:4])

          A         B         C         D
0 -1.518915 -0.496256 -1.905349  0.325399
1 -1.321410 -0.853576  1.436926 -1.057146
2  0.092644  1.201601 -0.994798 -2.017163
3 -0.045991 -2.069596  0.011527  0.426753
4 -1.180576 -0.290050  0.678418 -1.086825

D:\python\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
print (df.ix[:,'A'])

0   -0.470479
1    0.185088
2   -1.624392
3   -0.549156
4    0.494236
5    0.147245
6   -1.273751
7   -0.981244
Name: A, dtype: float64

D:\python\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

## 11.8 Data alignment and arithmetic

### New example
performing addition and multiplication between two dataframes

In [206]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})

result = df1 + df2
print(result)

# df1 times 2
df1 = df1 * 2
result2 = df1 + df2
print(result2)

# what if df1 time df2
df3 = df1 * df2
df3

    A   B
0  11  44
1  22  55
2  33  66
    A   B
0  12  48
1  24  60
2  36  72

     A    B
0   20  320
1   80  500
2  180  720

 - Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
 - Again, the resulting object will have the union of the column and row labels.

In [ ]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df1

          A         B         C         D
0 -0.117700  0.788149  0.776948 -1.159620
1  0.604453 -0.487806  1.356927  0.008448
2 -0.886517  0.044949  0.023818  2.174181
3  0.567215  0.902368  0.135462 -0.051920
4 -0.574904  0.555554 -0.094674 -0.124867
5 -0.087198 -0.785484  0.527486  0.293056
6 -0.112861  1.120604 -0.933670 -0.232908
7  0.336940  0.108904 -0.295332 -2.991587
8 -2.031898  1.290700  1.013805  0.334444
9 -0.021450 -2.232018 -1.355943 -0.144558

In [ ]:

df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
df2

          A         B         C
0 -1.676725 -1.169031 -0.619940
1 -0.710089  1.834536 -1.118924
2 -1.306510 -1.427194  1.891368
3  0.707823  1.638324 -1.007516
4  0.552295 -2.373425 -1.137115
5  0.080897 -0.467685  0.484710
6 -0.478739 -0.519066  0.058221

In [ ]:
df1+df2

          A         B         C   D
0 -1.794426 -0.380882  0.157008 NaN
1 -0.105636  1.346731  0.238002 NaN
2 -2.193027 -1.382245  1.915186 NaN
3  1.275037  2.540692 -0.872054 NaN
4 -0.022608 -1.817870 -1.231789 NaN
5 -0.006301 -1.253170  1.012196 NaN
6 -0.591600  0.601538 -0.875449 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [ ]:
df1 - df1.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.722153 -1.275955  0.579979  1.168068
2 -0.768817 -0.743200 -0.753129  3.333801
3  0.684915  0.114219 -0.641486  1.107699
4 -0.457204 -0.232595 -0.871622  1.034753
5  0.030502 -1.573633 -0.249461  1.452675
6  0.004839  0.332455 -1.710617  0.926712
7  0.454640 -0.679244 -1.072280 -1.831968
8 -1.914198  0.502551  0.236857  1.494064
9  0.096250 -3.020167 -2.132890  1.015062

 - In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [ ]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
df

                   A         B         C
2000-01-01  0.146072  0.966939 -0.483866
2000-01-02 -0.301393 -0.235599 -0.291576
2000-01-03  0.763213  0.086616  0.607997
2000-01-04 -0.164010 -0.422640 -0.338078
2000-01-05  1.414892 -1.146976  0.355322
2000-01-06  0.448006  0.826819 -0.320917
2000-01-07 -1.299619 -1.786811 -2.381874
2000-01-08  0.172000  0.008814  0.241587

In [ ]:
df1* 10 + 2

           A          B          C          D
0   0.822999   9.881489   9.769477  -9.596196
1   8.044527  -2.878058  15.569265   2.084481
2  -6.865170   2.449487   2.238184  23.741809
3   7.672145  11.023680   3.354615   1.480795
4  -3.749036   7.555543   1.053260   0.751332
5   1.128016  -5.854845   7.274863   4.930555
6   0.871390  13.206037  -7.336697  -0.329076
7   5.369398   3.089045  -0.953321 -27.915874
8 -18.318978  14.906997  12.138047   5.344443
9   1.785502 -20.320177 -11.559426   0.554421

In [ ]:
1/df1

In [ ]:
df1**5

- Boolean operators work as well:

In [ ]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
df1

       a      b
0   True  False
1  False   True
2   True   True

In [ ]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
df2

       a      b
0  False   True
1   True   True
2   True  False

In [ ]:
df1&df2

       a      b
0  False  False
1  False   True
2   True  False

In [ ]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [ ]:
df1^df2

       a      b
0   True   True
1   True  False
2  False   True

In [ ]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

## 11.9 transposing

### New example:

In [214]:
# only show the 3 - 8 rows
df[3:9].T

          3         4         5         6         7         8
A -0.178922  1.091446  0.106633 -1.037777 -0.288993 -0.417770
B -0.596263 -1.311125 -0.917413 -1.604318  0.081924 -0.543726
C  0.046821 -0.110622 -0.003164  0.128886 -2.451537 -1.484531
D -1.271827  0.473160  0.428629  0.161283  1.503725  0.437493

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [207]:
# only show the first 4 rows
df[:4].T

          0         1         2         3
A -0.590798  1.182452  1.447072 -0.178922
B -0.042030  1.105289  0.427253 -0.596263
C -0.717495 -1.003565  0.460458  0.046821
D -0.746723  0.493289  0.714252 -1.271827